.home-title {
  text-align: center;
  width: calc(100% - 1rem);
}
.app-baner p {
  width: calc(100% - 1rem);
}
.home-containt {
  width: calc(100% - 1rem);
}
.home-containt img {
  width: calc(100%);
}
.home-containt .higtlight {
  display: flex;
  gap: 10px;
}
.home-containt .higtlight img {
  height: 50px;
}

@media only screen and (max-width: 1024px) {
  .home-containt .higtlight {
    flex-direction: column;
  }
}
