.gallery1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.gallery1 .gallery1-left{
    width: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:5px;
    
}
.gallery1 .gallery1-left img{
    width: 111.8%;
    height: calc(100% - 2rem);
}
.gallery1 .gallery1-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    gap:5px;
}
.gallery1 .gallery1-right div{
    width: 100%;
    height: calc(100% - 5rem);
}
.gallery1 .gallery1-right div img{
    width: 100%;
    height: calc(100% - 2rem);
}


@media only screen and (max-width: 1024px) {
    .gallery1 {
        flex-direction: column;
    }
    .gallery1 .gallery1-left,.gallery1 .gallery1-right{
        width: 100%;
    }
}