.main-product{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: small;
    z-index: 1 !important;
    width: 100%;
}
.main-product .product{
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 300px));
    gap: 10px;
    width: 100%;
}
.card{
    background-color: transparent;
    cursor: pointer;
    width: 300px;
    height: 450px;
    border: none;
}
.card:hover .card-text{
    text-decoration: underline;
}
.card:hover .card-img-top{
    border-radius: 7px;
    box-shadow: 0px 22px 33px -6px rgba(0,0,0,0.1),0px 16px 17px 4px rgba(0,0,0,0.1);
}
.card .card-img-top{
    width: 300px;
    height: 300px;

}
.card .card-body{
    width: 300px;
    height: 100px;
    padding: 0;
    padding-top: 1rem;
}
.card .card-body .d-price{
    color: rgb(118, 118, 118);
}
.card .card-body .card-title{
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.card .card-body .card-text{
    max-width: 300px;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1024px){
    .main-product{
        zoom: 50%;
    }
    .main-product .product{
        justify-content: center;
    }
    .card .card-body .card-text{
        font-size: 1.2rem;
    }
}