.blog{
    /* background-color: aqua; */
    width: calc(100% - 1rem);
}
.blog img{
    width: 100%;
}
.blog .group-img-text{
    display: flex;
    gap: 10px;
}
@media only screen and (max-width: 1024px) {
    
.blog .group-img-text{
    flex-direction: column;
}
}