.cart{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.cart .cart-content{
    text-align: center;
    height: max-content;
}
.cart .cart-content .cart-title{
    font-weight: 500;
    font-size: 1.2rem;
}
.cart .cart-content .cart-button{
    background-color: black;
    color: white;
    padding: 0.5rem;    
    outline: none;
    cursor: pointer;
}