.lookbook{
    width: calc(100% - 2rem);
    padding-top: 2rem;
    overflow: hidden;
}
.lookbook .group-photo{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.lookbook .group-photo .group-photo-tiem{
    display: flex;
    gap: 10px;
}
.lookbook .group-photo .group-photo-tiem .photo{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.lookbook .group-photo .group-photo-tiem .photo img{
    height: 100%;
    width: 100%;
}